body {
    background-color: hsl(229, 57%, 11%);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    font-family: sans-serif;
    color: hsl(229, 7%, 55%);
}

