
.message1 {
    color: white;
    font-family: "Raleway";
}


.headerContent {
    flex: 1 1 auto;
}

.headerContent {
    flex: 1 1 auto;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 70px 10px 10px;
    padding: 30px 120px 30px 30px;
    margin: 10px;
    
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
}

.header-content {
    flex: 1 1 auto;
}

.main {
    display: flex;
    min-width: 90%;
    
}

main {
    flex: 1 1 500px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
    margin: 50px 10px 10px 10px;
}

.iconImages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0 ;
}

.iconImage {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
    
.bar1 {
    position: relative;
}

.blankStorage {
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    margin: 15px 0 5px 0;
    height: 20px;
}

.bubble1 {
    position: absolute;
    left: 64%;
    bottom: calc(100% + 30px);
}

.storageLeft {
    position: relative;
    width: auto;
	background: #f5f5f5;
    border-radius: 10px 10px 0 10px;
    padding: 20px;
}

.storageLeft:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: auto;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-top-color: #f5f5f5;
	border-bottom: 0;
	border-right: 0;
	margin-left: -18px;
	margin-bottom: -20px;
}

.storageInfoLeft {
    font-size: xx-large;
    font-weight: 700;
    color: black;
    font-family: "Raleway";
}

.storageLabel {
    display: flex;
    justify-content: space-between;
}

.zeroStorage {
    display: flex;
    justify-content: left;
    font-family: "Raleway";
}

.storageTitle {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.fullStorage {
    display: flex;
    justify-content: right;
    margin-top:-18px;
    font-family: "Raleway";
}

footer {
    margin-top: auto;
}

.storageLeft {
    border-radius: 10px;
    font-family: "Raleway";
}

@media all and (max-width:376px) {
.main{
     min-width: auto;
     flex-wrap: wrap;
     max-width: auto;
}

main {
margin-top: 10px;
    
}

.storageLeft {
    display: none;
}

.storageLeft {
    border-radius: 10px;
}

.bubble1 {
    bottom: -105px;
    left: 30%;
}

}